.wrapper{
    @include span-columns(12);
}

.container {
    @include outer-container;
    padding:0 15px;
}

.row {
    @include row;
}

.hidden {
    display:none;
}

.mobile-only {
    display:inline-block;
    @include breakpoint(tablet){
        display:none;
    }
}

.desktop-only{
    display:none;
    @include breakpoint(tablet){
        display:inline-block;
    }
}

.subtle-message {
    @include message($lightGray);
}

.error-message {
    @include message($error);
}

.warning-message{
    @include message($warning);
}
.success-message{
    @include message($success);
}


.element-invisible {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}